              /* General */

body {
  font-family: 'Open Sans', sans-serif !important;
  background: #0c0b09 !important;
  color: #ffffff;
}

a {
  color: #cda45e;
  text-decoration: none !important;
}

a:hover {
  color: #d9ba85;
  text-decoration: none !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Playfair Display', serif;
}

body::-webkit-scrollbar {
  width: 14px;
}

body::-webkit-scrollbar-thumb {
  background-color: #cda45e !important;
  border-radius: 6px;
}
body::-webkit-scrollbar-track {
  background-color: #444549;
}

                   /* Sections General */

section {
  padding: 60px 0;
  overflow: hidden;
}
.section-bg {
  border-color: #1a1814;
}

.img-id {
  transition: transform 3s;
}

.img-id:hover {
  transform: scale(1.5);
  cursor: pointer;
}

.img-id:not(:hover) {
  transform: scale(1);
}
